<div id="header">
    <div id="header-content row">
	    <div class="col-sm-10 text-right">
		    <div class="btn btn-default header-tab">
		    	<a href="/" class ="header_link">Home</a>
		    </div>
		    <div class="btn btn-default header-tab">
		    	<a href="/contact" class="header_link">Contactus</a>
		    </div>
	    </div>
    </div>
</div>