<div class = "background">
	<ul class="bxslider">
		<li>
		  	<%= image_tag("/assets/office_party.jpg") %>
		</li>
	  	<li>
	  		<%= image_tag("/assets/birthday_celebrations.jpg") %>
	  	</li>
	  	<li>
	  		<%= image_tag("/assets/wedding_ceremony.jpg") %>
	  	</li>
	</ul>
</div>
<script type="text/javascript">
	$('.bxslider').bxSlider({
	    mode: 'fade',
	    auto: true,
	    autoStart: true,
	    captions: true,
	    speed: 10
    });
</script>