<div class = "backgound_img_text">
	<%= image_tag("/assets/home_background.jpg", :class => "backgound_img_size") %>
	<div>We are here for you making mooments magical <br> <strong>give us a chance </strong></div>
</div>
<div class="navbar" style="margin-top: 20px;">
    <div class="navbar-inner">
		<div class="container">
			<div class="row event_list">
				<div class = "col-md-4 text-right">
					<%= image_tag("/assets/birthday_celebrations.jpg", :class=> "img-rounded", width: "300" ,height: "200") %>
				</div>
				<div class = "col-md-8 text-left">
					<h3>Birthday Celebration</h3>
				</div>
			</div>
			<div class="row event_list">
				<div class = "col-md-8 text-right">
					<h3>Wedding Ceremony</h3>
				</div>
				<div class = "col-md-4 text-left">
					<%= image_tag("/assets/wedding_ceremony.jpg", :class=> "img-rounded", width: "300" ,height: "200") %>
				</div>
			</div>
			<div class="row event_list">
				<div class = "col-md-4 text-right">
					<%= image_tag("/assets/office_party.jpg", :class=> "img-rounded", width: "300" ,height: "200") %>
				</div>
				<div class = "col-md-8 text-left">
					<h3>Office Party</h3>
				</div>
			</div>
		</div>
	</div>
</div>