// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family:Lato;
}

ul {
   margin-left: -37px;
}
.bx-wrapper, .bx-viewport, ul.bxslider li img {
	height:55rem;
	width:100%;
}
.background {
	margin-top:80px;
} 