<!DOCTYPE html>
<html>
<head>
  <title>EventO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- jQuery library (served from Google) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="/assets/jquery.bxslider.min.js"></script>
<script src="/assets/home.js"></script>
<!-- bxSlider CSS file -->
<link href="assets/jquery.bxslider.css" rel="stylesheet" />
</head>
<body>

<%= yield %>

</body>
</html>
